<div class="item">
  <div class="view align-middle">
    <div class="custom_checkbox">
      <input [id]="item.description" class="toggle form-check-input small" type="checkbox" (change)="onCheckboxChange(item)" [checked]="item.done" />
      <label [for]="item.description">{{item.description}}</label>
    </div>


    <div class="btn-wrap" *ngIf="!editable">
      <button class="btn" (click)="editable = !editable">Edit</button>
      <button class="btn-close " (click)="remove.emit()">x</button>
    </div>
  </div>

  <div class="align-center" *ngIf="editable">
    <label><input class="edit" placeholder="edit item" [value]="item.description" #editedItem (keyup.enter)="saveItem(editedItem.value)"></label>

    <div class="btn-wrapper">
      <button class="btn edit-btn" (click)="editable = !editable">Cancel</button>
      <button class="btn btn-save" (click)="saveItem(editedItem.value)">Save</button>
    </div>
  </div>

</div>
